# Environment variables (CRITICAL: Keeps secrets off GitHub)
.env

# Python Virtual Environment
venv/
env/
ENV/

# Python compiled bytecode & cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Django local database (if using sqlite3 during local testing)
*.sqlite3

# IDE / Editor specific settings
.vscode/
.idea/
.DS_Store